In [1]:
from buildstock_query import BuildStockQuery

In [2]:
# reload library without restarting kernel
%load_ext autoreload
%autoreload 2

In [4]:
my_run = BuildStockQuery(
    db_name="resstock_core", table_name="sdr_magic17", workgroup="rescore", buildstock_type="resstock"
)

INFO:buildstock_query.query_core:Loading sdr_magic17 ...
INFO:botocore.tokens:Loading cached SSO token for nrel-sso
INFO:buildstock_query.query_core:12 queries cache read from None.
INFO:buildstock_query.query_core:12 queries cache is updated.
INFO:buildstock_query.main:Getting Success counts...
INFO:buildstock_query.report_query:Checking integrity with ts_tables ...
INFO:buildstock_query.query_core:No new queries to save.

         success  inapplicable  fail   Sum  unapplicable  Applied %  bad-chng  \
upgrade
0           17.0             0   0.0  17.0           0.0        0.0         0
1           17.0             0   0.0  17.0           0.0      100.0         0
10          15.0             0   0.0  17.0           2.0       88.2         0
11          17.0             0   0.0  17.0           0.0      100.0         0
12          17.0             0   0.0  17.0           0.0      100.0         0
13          17.0             0   0.0  17.0           0.0      100.0         0
14          15.0             0   2.0  17.0           0.0      100.0         0
15          15.0             0   0.0  17.0           2.0       88.2         0
16          14.0             0   0.0  17.0           3.0       82.4         0
17          17.0             0   0.0  17.0           0.0      100.0         0
18          17.0             0   0.0  17.0           0.0      100.0        17
19          17.0             0   0.0  17.0           0.0      100.0         0
2           17.0             0   0.0  17.0           0.0      100.0         0
20          17.0             0   0.0  17.0           0.0      100.0        17
21          17.0             0   0.0  17.0           0.0      100.0        15
3           17.0             0   0.0  17.0           0.0      100.0         0
4           15.0             0   2.0  17.0           0.0      100.0         0
5           15.0             0   0.0  17.0           2.0       88.2         0
6           17.0             0   0.0  17.0           0.0      100.0         0
7           17.0             0   0.0  17.0           0.0      100.0         0
8           17.0             0   0.0  17.0           0.0      100.0         0
9           15.0             0   2.0  17.0           0.0      100.0         0

         ok-chng  true-bad-chng  true-ok-chng  null  any  no-chng  no-chng %  \
upgrade
0              0              0             0     0    0      0.0        0.0
1             17              0            17     0   17      0.0        0.0
10            15              0            15     0   15      0.0        0.0
11            17              0            17     0   17      0.0        0.0
12            17              0            17     0   17      0.0        0.0
13            17              0            17     0   17      0.0        0.0
14            15              0            15     0   15      0.0        0.0
15            15              0            15     0   15      0.0        0.0
16            14              0            14     0   14      0.0        0.0
17            17              0            17     0   17      0.0        0.0
18             0             17             0     0   17      0.0        0.0
19            17              0            17     0   17      0.0        0.0
2             17              0            17     0   17      0.0        0.0
20             0             17             0     0   17      0.0        0.0
21             2             14             3     0   17      0.0        0.0
3             17              0            17     0   17      0.0        0.0
4             15              0            15     0   15      0.0        0.0
5             15              0            15     0   15      0.0        0.0
6             17              0            17     0   17      0.0        0.0
7             17              0            17     0   17      0.0        0.0
8             17              0            17     0   17      0.0        0.0
9             15              0            15     0   15      0.0        0.0

         bad-chng %  ok-chng %  true-ok-chng %  true-bad-chng %
upgrade
0               0.0        0.0             0.0              0.0
1               0.0      100.0           100.0              0.0
10              0.0      100.0           100.0              0.0
11              0.0      100.0           100.0              0.0
12              0.0      100.0           100.0              0.0
13              0.0      100.0           100.0              0.0
14              0.0      100.0           100.0              0.0
15              0.0      100.0           100.0              0.0
16              0.0      100.0           100.0              0.0
17              0.0      100.0           100.0              0.0
18            100.0        0.0             0.0            100.0
19              0.0      100.0           100.0              0.0
2               0.0      100.0           100.0              0.0
20            100.0        0.0             0.0            100.0
21             88.2       11.8            17.6             82.4
3               0.0      100.0           100.0              0.0
4               0.0      100.0           100.0              0.0
5               0.0      100.0           100.0              0.0
6               0.0      100.0           100.0              0.0
7               0.0      100.0           100.0              0.0
8               0.0      100.0           100.0              0.0
9               0.0      100.0           100.0              0.0
Annual and timeseries tables are verified to have the same number of buildings.
All buildings are verified to have the same number of (35040) timeseries rows.

In [8]:
query1 = my_run.agg.aggregate_timeseries(
        enduses=["fuel_use__electricity__total__kwh"], group_by=["time", "geometry_building_type_recs"], sort=True, get_query_only=True
    )
print(query1)

INFO:buildstock_query.aggregate_query:Restricting query to Upgrade 0.

SELECT sdr_magic17_timeseries.time AS time, sdr_magic17_baseline."build_existing_model.geometry_building_type_recs" AS geometry_building_type_recs, sum(1) AS sample_count, sum(sdr_magic17_baseline."build_existing_model.sample_weight") AS units_count, sum(sdr_magic17_timeseries.fuel_use__electricity__total__kwh * sdr_magic17_baseline."build_existing_model.sample_weight") AS fuel_use__electricity__total__kwh
FROM sdr_magic17_timeseries JOIN sdr_magic17_baseline ON sdr_magic17_baseline.building_id = sdr_magic17_timeseries.building_id
WHERE sdr_magic17_timeseries.upgrade = '0' GROUP BY 1, 2 ORDER BY 1, 2

In [ ]:
baseline_agg = my_run.agg.aggregate_annual(
    enduses=["fuel_use_electricity_total_m_btu"], group_by=["geometry_building_type_recs"]
)
baseline_agg

INFO:botocore.tokens:Loading cached SSO token for nrel-sso
INFO:botocore.httpchecksum:Skipping checksum validation. Response did not contain one of the following algorithms: ['crc32', 'sha1', 'sha256'].

,geometry_building_type_recs,sample_count,units_count,fuel_use_electricity_total_m_btu
0,Mobile Home,4,3.285812e+07,5.676734e+08
1,Multi-Family with 2 - 4 Units,1,8.214531e+06,1.108633e+08
2,Single-Family Detached,12,9.857437e+07,4.080141e+09

In [5]:
baseline_agg = my_run.agg.query(enduses=["fuel_use_electricity_total_m_btu"], group_by=["geometry_building_type_recs"])
baseline_agg

INFO:botocore.httpchecksum:Skipping checksum validation. Response did not contain one of the following algorithms: ['crc32', 'sha1', 'sha256'].

,sample_count,units_count,fuel_use_electricity_total_m_btu,geometry_building_type_recs
0,4,3.285812e+07,5.676734e+08,Mobile Home
1,1,8.214531e+06,1.108633e+08,Multi-Family with 2 - 4 Units
2,12,9.857437e+07,4.080141e+09,Single-Family Detached

In [7]:
baseline_agg = my_run.agg.aggregate_annual(
    enduses=["fuel_use_electricity_total_m_btu"],
    group_by=["geometry_building_type_recs"],
    agg_func="max",
    get_nonzero_count=True,
)
baseline_agg

INFO:botocore.httpchecksum:Skipping checksum validation. Response did not contain one of the following algorithms: ['crc32', 'sha1', 'sha256'].

,geometry_building_type_recs,sample_count,units_count,fuel_use_electricity_total_m_btu__max,fuel_use_electricity_total_m_btu__nonzero_units_count
0,Mobile Home,4,3.285812e+07,28.436,3.285812e+07
1,Multi-Family with 2 - 4 Units,1,8.214531e+06,13.496,8.214531e+06
2,Single-Family Detached,12,9.857437e+07,83.275,9.857437e+07

In [6]:
baseline_agg = my_run.agg.query(
    enduses=["fuel_use_electricity_total_m_btu"],
    group_by=["geometry_building_type_recs"],
    agg_func="max",
    get_nonzero_count=True,
)
baseline_agg

INFO:botocore.httpchecksum:Skipping checksum validation. Response did not contain one of the following algorithms: ['crc32', 'sha1', 'sha256'].

,sample_count,units_count,fuel_use_electricity_total_m_btu,geometry_building_type_recs
0,4,3.285812e+07,28.436,Mobile Home
1,1,8.214531e+06,13.496,Multi-Family with 2 - 4 Units
2,12,9.857437e+07,83.275,Single-Family Detached

In [15]:
from sqlalchemy.sql import func as safunc
import sqlalchemy as sa


def my_non_zero_count(column):
    """
    Returns a SQL expression to count the number of non-zero values in a column.
    """
    return safunc.sum(sa.case([(column != 0, 1)], else_=0) * sa.column("build_existing_model.sample_weight"))


get_query_only = True if 2 == 4 / 2 else False
non_zero_fuel_use = sa.cast(
    my_run._get_column("report_simulation_output.end_use_propane_clothes_dryer_m_btu") > 0, sa.Boolean
).label("non_zero_fuel_use")
baseline_agg = my_run.agg.aggregate_annual(
    enduses=[non_zero_fuel_use],
    group_by=["geometry_building_type_recs"],
    agg_func="count_if",
    get_query_only=get_query_only,
    get_nonzero_count=True,
)
print(baseline_agg)

WARNING:buildstock_query.query_core:Column report_simulation_output.end_use_propane_clothes_dryer_m_btu found in multiple tables ['sdr_magic17_baseline', 'sdr_magic17_upgrades']. Using sdr_magic17_baseline

SELECT sdr_magic17_baseline."build_existing_model.geometry_building_type_recs" AS geometry_building_type_recs, sum(1) AS sample_count, sum(sdr_magic17_baseline."build_existing_model.sample_weight") AS units_count, count_if(CAST(sdr_magic17_baseline."report_simulation_output.end_use_propane_clothes_dryer_m_btu" > 0 AS BOOLEAN) * 1) AS non_zero_fuel_use__count_if, sum(CASE WHEN (coalesce(CAST(sdr_magic17_baseline."report_simulation_output.end_use_propane_clothes_dryer_m_btu" > 0 AS BOOLEAN), 0) != 0) THEN 1 ELSE 0 END * sdr_magic17_baseline."build_existing_model.sample_weight") AS non_zero_fuel_use__nonzero_units_count
FROM sdr_magic17_baseline
WHERE sdr_magic17_baseline.completed_status = 'Success' GROUP BY 1 ORDER BY 1

In [8]:
baseline_agg = my_run.agg.aggregate_annual(
    enduses=["fuel_use_electricity_total_m_btu"], group_by=["geometry_building_type_recs"], get_nonzero_count=True
)
baseline_agg

,geometry_building_type_recs,sample_count,units_count,fuel_use_electricity_total_m_btu,fuel_use_electricity_total_m_btu__nonzero_units_count
0,Mobile Home,34491,8.351341e+06,1.399963e+06,8.351341e+06
1,Multi-Family with 2 - 4 Units,43868,1.062180e+07,1.215178e+06,1.062180e+07
2,Multi-Family with 5+ Units,100345,2.429664e+07,2.494200e+06,2.429664e+07
3,Single-Family Attached,32125,7.778459e+06,1.039893e+06,7.778459e+06
4,Single-Family Detached,338087,8.186135e+07,1.571373e+07,8.186135e+07

In [20]:
my_run.save_cache()

INFO:buildstock_query.query_core:21 queries cache saved to .bsq_cache/euss_res_final_2018_550k_20220901_query_cache.pkl

In [21]:
all_enduses = my_run.get_cols(my_run.ts_table)
all_enduses = [str(x) for x in all_enduses if "end_use__" in str(x)]
all_enduses

['euss_res_final_2018_550k_20220901_timeseries.end_use__electricity__ceiling_fan__kwh',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__electricity__clothes_dryer__kwh',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__electricity__clothes_washer__kwh',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__electricity__cooling__kwh',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__electricity__cooling_fans_pumps__kwh',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__electricity__dishwasher__kwh',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__electricity__freezer__kwh',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__electricity__heating__kwh',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__electricity__heating_fans_pumps__kwh',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__electricity__heating_heat_pump_backup__kwh',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__electricity__hot_tub_heater__kwh',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__electricity__hot_tub_pump__kwh',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__electricity__hot_water__kwh',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__electricity__lighting_exterior__kwh',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__electricity__lighting_garage__kwh',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__electricity__lighting_interior__kwh',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__electricity__mech_vent__kwh',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__electricity__plug_loads__kwh',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__electricity__pool_heater__kwh',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__electricity__pool_pump__kwh',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__electricity__pv__kwh',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__electricity__range_oven__kwh',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__electricity__refrigerator__kwh',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__electricity__well_pump__kwh',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__fuel_oil__heating__kbtu',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__fuel_oil__heating_heat_pump_backup__kbtu',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__fuel_oil__hot_water__kbtu',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__natural_gas__clothes_dryer__kbtu',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__natural_gas__fireplace__kbtu',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__natural_gas__grill__kbtu',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__natural_gas__heating__kbtu',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__natural_gas__heating_heat_pump_backup__kbtu',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__natural_gas__hot_tub_heater__kbtu',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__natural_gas__hot_water__kbtu',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__natural_gas__lighting__kbtu',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__natural_gas__pool_heater__kbtu',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__natural_gas__range_oven__kbtu',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__propane__clothes_dryer__kbtu',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__propane__heating__kbtu',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__propane__heating_heat_pump_backup__kbtu',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__propane__hot_water__kbtu',
 'euss_res_final_2018_550k_20220901_timeseries.end_use__propane__range_oven__kbtu']

In [24]:
ts_agg = my_run.agg.aggregate_timeseries(
    enduses=["fuel_use__electricity__total__kwh"],
    restrict=[("build_existing_model.state", ["CO"])],
    timestamp_grouping_func="month",
    group_by=["geometry_building_type_recs", "build_existing_model.state"],
    get_query_only=False,
)
print(ts_agg)

INFO:buildstock_query.aggregate_query:Restricting query to Upgrade 0.

      geometry_building_type_recs state       time  sample_count  \
0                     Mobile Home    CO 2018-01-01           391
1                     Mobile Home    CO 2018-02-01           391
2                     Mobile Home    CO 2018-03-01           391
3                     Mobile Home    CO 2018-04-01           391
4                     Mobile Home    CO 2018-05-01           391
5                     Mobile Home    CO 2018-06-01           391
6                     Mobile Home    CO 2018-07-01           391
7                     Mobile Home    CO 2018-08-01           391
8                     Mobile Home    CO 2018-09-01           391
9                     Mobile Home    CO 2018-10-01           391
10                    Mobile Home    CO 2018-11-01           391
11                    Mobile Home    CO 2018-12-01           391
12  Multi-Family with 2 - 4 Units    CO 2018-01-01           468
13  Multi-Family with 2 - 4 Units    CO 2018-02-01           468
14  Multi-Family with 2 - 4 Units    CO 2018-03-01           468
15  Multi-Family with 2 - 4 Units    CO 2018-04-01           468
16  Multi-Family with 2 - 4 Units    CO 2018-05-01           468
17  Multi-Family with 2 - 4 Units    CO 2018-06-01           468
18  Multi-Family with 2 - 4 Units    CO 2018-07-01           468
19  Multi-Family with 2 - 4 Units    CO 2018-08-01           468
20  Multi-Family with 2 - 4 Units    CO 2018-09-01           468
21  Multi-Family with 2 - 4 Units    CO 2018-10-01           468
22  Multi-Family with 2 - 4 Units    CO 2018-11-01           468
23  Multi-Family with 2 - 4 Units    CO 2018-12-01           468
24     Multi-Family with 5+ Units    CO 2018-01-01          1986
25     Multi-Family with 5+ Units    CO 2018-02-01          1986
26     Multi-Family with 5+ Units    CO 2018-03-01          1986
27     Multi-Family with 5+ Units    CO 2018-04-01          1986
28     Multi-Family with 5+ Units    CO 2018-05-01          1986
29     Multi-Family with 5+ Units    CO 2018-06-01          1986
30     Multi-Family with 5+ Units    CO 2018-07-01          1986
31     Multi-Family with 5+ Units    CO 2018-08-01          1986
32     Multi-Family with 5+ Units    CO 2018-09-01          1986
33     Multi-Family with 5+ Units    CO 2018-10-01          1986
34     Multi-Family with 5+ Units    CO 2018-11-01          1986
35     Multi-Family with 5+ Units    CO 2018-12-01          1986
36         Single-Family Attached    CO 2018-01-01           665
37         Single-Family Attached    CO 2018-02-01           665
38         Single-Family Attached    CO 2018-03-01           665
39         Single-Family Attached    CO 2018-04-01           665
40         Single-Family Attached    CO 2018-05-01           665
41         Single-Family Attached    CO 2018-06-01           665
42         Single-Family Attached    CO 2018-07-01           665
43         Single-Family Attached    CO 2018-08-01           665
44         Single-Family Attached    CO 2018-09-01           665
45         Single-Family Attached    CO 2018-10-01           665
46         Single-Family Attached    CO 2018-11-01           665
47         Single-Family Attached    CO 2018-12-01           665
48         Single-Family Detached    CO 2018-01-01          5905
49         Single-Family Detached    CO 2018-02-01          5905
50         Single-Family Detached    CO 2018-03-01          5905
51         Single-Family Detached    CO 2018-04-01          5905
52         Single-Family Detached    CO 2018-05-01          5905
53         Single-Family Detached    CO 2018-06-01          5905
54         Single-Family Detached    CO 2018-07-01          5905
55         Single-Family Detached    CO 2018-08-01          5905
56         Single-Family Detached    CO 2018-09-01          5905
57         Single-Family Detached    CO 2018-10-01          5905
58         Single-Family Detached    CO 2018-11-01          5905
59         Single-Family Detached    CO 2018-12-01          5905

     units_count  rows_per_sample  fuel_use__electricity__total__kwh
0   9.467323e+04             2976                         318221.510
1   9.467323e+04             2688                         289171.285
2   9.467323e+04             2976                         247667.438
3   9.467323e+04             2880                         218048.161
4   9.467323e+04             2976                         203260.750
5   9.467323e+04             2880                         206300.918
6   9.467323e+04             2976                         221394.320
7   9.467323e+04             2976                         204810.585
8   9.467323e+04             2880                         192460.286
9   9.467323e+04             2976                         222465.865
10  9.467323e+04             2880                         273158.384
11  9.467323e+04             2976                         333873.672
12  1.133173e+05             2976                         373812.131
13  1.133173e+05             2688                         352002.172
14  1.133173e+05             2976                         266063.707
15  1.133173e+05             2880                         227578.431
16  1.133173e+05             2976                         204305.786
17  1.133173e+05             2880                         220407.851
18  1.133173e+05             2976                         240770.289
19  1.133173e+05             2976                         223908.321
20  1.133173e+05             2880                         204600.965
21  1.133173e+05             2976                         227605.385
22  1.133173e+05             2880                         298497.854
23  1.133173e+05             2976                         385964.498
24  4.808722e+05             2976                        1381115.780
25  4.808722e+05             2688                        1338169.226
26  4.808722e+05             2976                        1061463.636
27  4.808722e+05             2880                         934272.727
28  4.808722e+05             2976                         865298.414
29  4.808722e+05             2880                         884550.363
30  4.808722e+05             2976                         949759.785
31  4.808722e+05             2976                         898405.351
32  4.808722e+05             2880                         836597.278
33  4.808722e+05             2976                         929403.902
34  4.808722e+05             2880                        1149256.227
35  4.808722e+05             2976                        1446625.436
36  1.610171e+05             2976                         601485.249
37  1.610171e+05             2688                         585960.926
38  1.610171e+05             2976                         462992.125
39  1.610171e+05             2880                         393196.407
40  1.610171e+05             2976                         347914.303
41  1.610171e+05             2880                         367614.509
42  1.610171e+05             2976                         403213.935
43  1.610171e+05             2976                         377950.161
44  1.610171e+05             2880                         349997.929
45  1.610171e+05             2976                         387299.539
46  1.610171e+05             2880                         493294.148
47  1.610171e+05             2976                         621446.300
48  1.429784e+06             2976                        7012672.290
49  1.429784e+06             2688                        6674123.950
50  1.429784e+06             2976                        5243615.068
51  1.429784e+06             2880                        4461112.590
52  1.429784e+06             2976                        3988148.893
53  1.429784e+06             2880                        4337754.933
54  1.429784e+06             2976                        4803496.806
55  1.429784e+06             2976                        4430534.363
56  1.429784e+06             2880                        4036305.717
57  1.429784e+06             2976                        4379100.146
58  1.429784e+06             2880                        5627284.027
59  1.429784e+06             2976                        7136455.702

In [14]:
# peak electricity use for each building in AL
ts_agg = my_run.agg.aggregate_timeseries(
    enduses=["fuel_use__electricity__total__kwh"],
    restrict=[("build_existing_model.state", ["AL"])],
    collapse_ts=True,
    agg_func="max",
    group_by=[my_run.bs_bldgid_column],
    get_query_only=False,
)
print(ts_agg)

INFO:buildstock_query.aggregate_query:Aggregation done across timestamps. Result no longer a timeseries.
INFO:buildstock_query.aggregate_query:Restricting query to Upgrade 0.

      building_id  sample_count  units_count  \
0             186             1   242.131013
1             212             1   242.131013
2             239             1   242.131013
3             273             1   242.131013
4             307             1   242.131013
...           ...           ...          ...
9100       549793             1   242.131013
9101       549800             1   242.131013
9102       549804             1   242.131013
9103       549820             1   242.131013
9104       549999             1   242.131013

      fuel_use__electricity__total__kwh__max
0                                      1.681
1                                      3.629
2                                      3.507
3                                      3.975
4                                      4.906
...                                      ...
9100                                   3.993
9101                                   6.897
9102                                   4.910
9103                                   2.267
9104                                   3.235

[9105 rows x 4 columns]

In [16]:
my_run.savings.savings_shape(
    upgrade_id=2,
    enduses=["fuel_use__electricity__total__kwh"],
    restrict=[("build_existing_model.state", ["AL"])],
    annual_only=False,
)

,time,sample_count,units_count,fuel_use__electricity__total__kwh__baseline,fuel_use__electricity__total__kwh__savings
0,2018-01-01 00:15:00,9105,2.204603e+06,2.344104e+06,798942.753525
1,2018-01-01 00:30:00,9105,2.204603e+06,2.380520e+06,804806.924523
2,2018-01-01 00:45:00,9105,2.204603e+06,2.377988e+06,802971.087184
3,2018-01-01 01:00:00,9105,2.204603e+06,2.370643e+06,801110.794613
4,2018-01-01 01:15:00,9105,2.204603e+06,2.327645e+06,794221.925170
...,...,...,...,...,...
35035,2018-12-31 23:00:00,9105,2.204603e+06,5.392025e+05,35243.137427
35036,2018-12-31 23:15:00,9105,2.204603e+06,4.739228e+05,36440.475284
35037,2018-12-31 23:30:00,9105,2.204603e+06,4.598230e+05,39609.485979
35038,2018-12-31 23:45:00,9105,2.204603e+06,4.500661e+05,41160.092985
35039,2019-01-01 00:00:00,9105,2.204603e+06,4.322545e+05,43056.705207

In [8]:
my_run.savings.savings_shape(
    upgrade_id=2,
    enduses=["fuel_use__electricity__total__kwh"],
    group_by=["geometry_building_type_recs"],
    annual_only=False,
)

,time,sample_count,units_count,fuel_use__electricity__total__kwh__baseline,fuel_use__electricity__total__kwh__savings,geometry_building_type_recs
0,2018-01-01 00:15:00,703,9.361996e+06,1.098386e+07,2.682538e+06,Mobile Home
1,2018-01-01 00:30:00,703,9.361996e+06,1.093122e+07,2.634476e+06,Mobile Home
2,2018-01-01 00:45:00,703,9.361996e+06,1.077442e+07,2.593965e+06,Mobile Home
3,2018-01-01 01:00:00,703,9.361996e+06,1.080007e+07,2.552429e+06,Mobile Home
4,2018-01-01 01:15:00,703,9.361996e+06,1.059866e+07,2.516619e+06,Mobile Home
...,...,...,...,...,...,...
175195,2018-12-31 23:00:00,7121,9.483182e+07,3.171454e+07,4.143382e+06,Single-Family Detached
175196,2018-12-31 23:15:00,7121,9.483182e+07,2.811727e+07,3.993204e+06,Single-Family Detached
175197,2018-12-31 23:30:00,7121,9.483182e+07,2.729993e+07,4.172387e+06,Single-Family Detached
175198,2018-12-31 23:45:00,7121,9.483182e+07,2.672484e+07,4.160202e+06,Single-Family Detached
175199,2019-01-01 00:00:00,7121,9.483182e+07,2.624360e+07,4.265834e+06,Single-Family Detached

In [9]:
my_run.savings.savings_shape(
    upgrade_id=2,
    enduses=["fuel_use__electricity__total__kwh"],
    group_by=["geometry_building_type_recs"],
    get_quartiles=True,
    annual_only=False,
)

,time,sample_count,units_count,fuel_use__electricity__total__kwh__baseline,fuel_use__electricity__total__kwh__savings,fuel_use__electricity__total__kwh__savings__quartiles,geometry_building_type_recs
0,2018-01-01 00:15:00,703,9.361996e+06,1.098386e+07,2.682538e+06,"[-0.05399999999999999, 0.0, 0.0155899999999999...",Mobile Home
1,2018-01-01 00:30:00,703,9.361996e+06,1.093122e+07,2.634476e+06,"[-0.031, 0.0, 0.0158356401384083, 0.1711655303...",Mobile Home
2,2018-01-01 00:45:00,703,9.361996e+06,1.077442e+07,2.593965e+06,"[-0.03300000000000003, 0.0, 0.0154038281979458...",Mobile Home
3,2018-01-01 01:00:00,703,9.361996e+06,1.080007e+07,2.552429e+06,"[-0.027999999999999997, 0.0, 0.016376282051282...",Mobile Home
4,2018-01-01 01:15:00,703,9.361996e+06,1.059866e+07,2.516619e+06,"[-0.024999999999999994, 0.0, 0.015727272727272...",Mobile Home
...,...,...,...,...,...,...,...
175195,2018-12-31 23:00:00,7121,9.483182e+07,3.171454e+07,4.143382e+06,"[-0.473, -0.020270068826590562, 0.0, 0.0040731...",Single-Family Detached
175196,2018-12-31 23:15:00,7121,9.483182e+07,2.811727e+07,3.993204e+06,"[-0.489, -0.02042967741935484, 0.0, 0.00376620...",Single-Family Detached
175197,2018-12-31 23:30:00,7121,9.483182e+07,2.729993e+07,4.172387e+06,"[-0.518, -0.017058074866310155, 0.0, 0.0040970...",Single-Family Detached
175198,2018-12-31 23:45:00,7121,9.483182e+07,2.672484e+07,4.160202e+06,"[-0.587, -0.017366656552689926, 0.0, 0.0041328...",Single-Family Detached
175199,2019-01-01 00:00:00,7121,9.483182e+07,2.624360e+07,4.265834e+06,"[-0.43, -0.01732585218702865, 0.0, 0.004150737...",Single-Family Detached