In [1]:
from buildstock_query import BuildStockQuery
import pandas as pd

In [2]:
# autoreload
%load_ext autoreload
%autoreload 2

In [7]:
my_run = BuildStockQuery('rescore','euss-oedi',
                                "resstock_amy2018_release_2022_1",
                                db_schema="resstock_oedi",
                                skip_reports=False)

INFO:buildstock_query.query_core:Loading resstock_amy2018_release_2022_1 ...
INFO:botocore.tokens:Loading cached SSO token for nrel-sso
INFO:buildstock_query.query_core:17 queries cache read from None.
INFO:buildstock_query.query_core:17 queries cache is updated.
INFO:buildstock_query.main:Getting Success counts...
INFO:buildstock_query.report_query:Checking integrity with ts_tables ...

         success  unapplicable  fail     Sum  Applied %  no-chng  bad-chng  \
upgrade
0         548916             0     0  548916        0.0        0         0
1         531823         17093     0  548916       96.9        0         0
10        548916             0     0  548916      100.0        0         0
2         536797         12119     0  548916       97.8        0         0
3         548260           656     0  548916       99.9        0         0
4         548260           656     0  548916       99.9        0         0
5         532156         16760     0  548916       96.9        0         0
6         545331          3585     0  548916       99.3        0         0
7         400579        148337     0  548916       73.0        0         0
8         548913             3     0  548916      100.0        0         0
9         548916             0     0  548916      100.0        0         0

         ok-chng  true-bad-chng  true-ok-chng  null  any  no-chng %  \
upgrade
0              0              0             0     0    0        0.0
1              0              0             0     0    0        0.0
10             0              0             0     0    0        0.0
2              0              0             0     0    0        0.0
3              0              0             0     0    0        0.0
4              0              0             0     0    0        0.0
5              0              0             0     0    0        0.0
6              0              0             0     0    0        0.0
7              0              0             0     0    0        0.0
8              0              0             0     0    0        0.0
9              0              0             0     0    0        0.0

         bad-chng %  ok-chng %  true-ok-chng %  true-bad-chng %
upgrade
0               0.0        0.0             0.0              0.0
1               0.0        0.0             0.0              0.0
10              0.0        0.0             0.0              0.0
2               0.0        0.0             0.0              0.0
3               0.0        0.0             0.0              0.0
4               0.0        0.0             0.0              0.0
5               0.0        0.0             0.0              0.0
6               0.0        0.0             0.0              0.0
7               0.0        0.0             0.0              0.0
8               0.0        0.0             0.0              0.0
9               0.0        0.0             0.0              0.0

INFO:buildstock_query.query_core:No new queries to save.

Annual and timeseries tables are verified to have the same number of buildings.
All buildings are verified to have the same number of (35040) timeseries rows.

In [8]:
baseline_agg = my_run.agg.aggregate_annual(enduses=['electricity.total.energy_consumption'],
                                       group_by=['geometry_building_type_recs'])
baseline_agg

WARNING:buildstock_query.query_core:Column in.geometry_building_type_recs found in multiple tables ['baseline', 'upgrade'].Using baseline

,geometry_building_type_recs,sample_count,units_count,electricity.total.energy_consumption
0,Mobile Home,34491,8.351341e+06,9.934359e+10
1,Multi-Family with 2 - 4 Units,43868,1.062180e+07,8.623094e+10
2,Multi-Family with 5+ Units,100345,2.429664e+07,1.769924e+11
3,Single-Family Attached,32125,7.778459e+06,7.379245e+10
4,Single-Family Detached,338087,8.186135e+07,1.115071e+12

In [9]:
my_run.save_cache()

INFO:buildstock_query.query_core:No new queries to save.

In [10]:
all_enduses = my_run.get_cols(my_run.ts_table)
all_enduses

[Column('timestamp', TIMESTAMP(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.ceiling_fan.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.ceiling_fan.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.clothes_dryer.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.clothes_dryer.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.clothes_washer.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.clothes_washer.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.cooling_fans_pumps.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.cooling_fans_pumps.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.cooling.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.cooling.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.dishwasher.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.dishwasher.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.freezer.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.freezer.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.heating_fans_pumps.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.heating_fans_pumps.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.heating_hp_bkup.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.heating_hp_bkup.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.heating.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.heating.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.hot_tub_heater.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.hot_tub_heater.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.hot_tub_pump.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.hot_tub_pump.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.hot_water.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.hot_water.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.lighting_exterior.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.lighting_exterior.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.lighting_garage.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.lighting_garage.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.lighting_interior.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.lighting_interior.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.mech_vent.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.mech_vent.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.plug_loads.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.plug_loads.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.pool_heater.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.pool_heater.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.pool_pump.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.pool_pump.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.pv.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.pv.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.range_oven.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.range_oven.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.refrigerator.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.refrigerator.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.well_pump.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.well_pump.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.fuel_oil.heating_hp_bkup.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.fuel_oil.heating_hp_bkup.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.fuel_oil.heating.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.fuel_oil.heating.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.fuel_oil.hot_water.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.fuel_oil.hot_water.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.natural_gas.clothes_dryer.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.natural_gas.clothes_dryer.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.natural_gas.fireplace.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.natural_gas.fireplace.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.natural_gas.grill.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.natural_gas.grill.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.natural_gas.heating_hp_bkup.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.natural_gas.heating_hp_bkup.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.natural_gas.heating.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.natural_gas.heating.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.natural_gas.hot_tub_heater.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.natural_gas.hot_tub_heater.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.natural_gas.hot_water.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.natural_gas.hot_water.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.natural_gas.lighting.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.natural_gas.lighting.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.natural_gas.pool_heater.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.natural_gas.pool_heater.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.natural_gas.range_oven.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.natural_gas.range_oven.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.propane.clothes_dryer.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.propane.clothes_dryer.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.propane.heating_hp_bkup.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.propane.heating_hp_bkup.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.propane.heating.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.propane.heating.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.propane.hot_water.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.propane.hot_water.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.propane.range_oven.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.propane.range_oven.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.site_energy.net.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.site_energy.net.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.site_energy.total.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.site_energy.total.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.net.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.net.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.total.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.electricity.total.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.fuel_oil.total.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.fuel_oil.total.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.natural_gas.total.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.natural_gas.total.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.propane.total.energy_consumption', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.propane.total.energy_consumption_intensity', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.total.lrmer_95decarbby2035_15_2025start.co2e_kg', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.total.lrmer_lowrecost_15_2025start.co2e_kg', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.total.lrmer_lowrecost_25_2025start.co2e_kg', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('out.total.lrmer_midcase_15_2025start.co2e_kg', FLOAT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('bldg_id', BIGINT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('upgrade', BIGINT(), table=<resstock_amy2018_release_2022_1_by_state>),
 Column('state', String(), table=<resstock_amy2018_release_2022_1_by_state>)]

In [11]:
ts_agg = my_run.agg.aggregate_timeseries(enduses=['out.electricity.total.energy_consumption'],
                                         # restrict=[('build_existing_model.state', ['CO'])],
                                         timestamp_grouping_func='month',
                                         group_by=['geometry_building_type_recs', 'state'],
                                         get_query_only=False)
print(ts_agg)

WARNING:buildstock_query.query_core:Column in.geometry_building_type_recs found in multiple tables ['baseline', 'upgrade'].Using baseline
INFO:buildstock_query.aggregate_query:Restricting query to Upgrade 0.

     geometry_building_type_recs state  timestamp  sample_count  \
0                    Mobile Home    AL 2018-01-01          1233
1                    Mobile Home    AL 2018-02-01          1233
2                    Mobile Home    AL 2018-03-01          1233
3                    Mobile Home    AL 2018-04-01          1233
4                    Mobile Home    AL 2018-05-01          1233
...                          ...   ...        ...           ...
2923      Single-Family Detached    WY 2018-08-01           725
2924      Single-Family Detached    WY 2018-09-01           725
2925      Single-Family Detached    WY 2018-10-01           725
2926      Single-Family Detached    WY 2018-11-01           725
2927      Single-Family Detached    WY 2018-12-01           725

        units_count  rows_per_sample  electricity.total.energy_consumption
0     298547.538693             2976                          5.748190e+08
1     298547.538693             2688                          2.704440e+08
2     298547.538693             2976                          2.812844e+08
3     298547.538693             2880                          2.391741e+08
4     298547.538693             2976                          2.992050e+08
...             ...              ...                                   ...
2923  175544.984227             2976                          1.149868e+08
2924  175544.984227             2880                          1.089442e+08
2925  175544.984227             2976                          1.491668e+08
2926  175544.984227             2880                          2.080654e+08
2927  175544.984227             2976                          2.653859e+08

[2928 rows x 7 columns]

In [12]:
print(ts_agg)

     geometry_building_type_recs state  timestamp  sample_count  \
0                    Mobile Home    AL 2018-01-01          1233
1                    Mobile Home    AL 2018-02-01          1233
2                    Mobile Home    AL 2018-03-01          1233
3                    Mobile Home    AL 2018-04-01          1233
4                    Mobile Home    AL 2018-05-01          1233
...                          ...   ...        ...           ...
2923      Single-Family Detached    WY 2018-08-01           725
2924      Single-Family Detached    WY 2018-09-01           725
2925      Single-Family Detached    WY 2018-10-01           725
2926      Single-Family Detached    WY 2018-11-01           725
2927      Single-Family Detached    WY 2018-12-01           725

        units_count  rows_per_sample  electricity.total.energy_consumption
0     298547.538693             2976                          5.748190e+08
1     298547.538693             2688                          2.704440e+08
2     298547.538693             2976                          2.812844e+08
3     298547.538693             2880                          2.391741e+08
4     298547.538693             2976                          2.992050e+08
...             ...              ...                                   ...
2923  175544.984227             2976                          1.149868e+08
2924  175544.984227             2880                          1.089442e+08
2925  175544.984227             2976                          1.491668e+08
2926  175544.984227             2880                          2.080654e+08
2927  175544.984227             2976                          2.653859e+08

[2928 rows x 7 columns]

In [13]:
result = my_run.savings.savings_shape(upgrade_id=2, enduses=['out.electricity.total.energy_consumption'],
                             annual_only=False,
                             get_query_only=False)
print(result)

                timestamp  sample_count   units_count  \
0     2018-01-01 00:15:00        548916  1.329096e+08
1     2018-01-01 00:30:00        548916  1.329096e+08
2     2018-01-01 00:45:00        548916  1.329096e+08
3     2018-01-01 01:00:00        548916  1.329096e+08
4     2018-01-01 01:15:00        548916  1.329096e+08
...                   ...           ...           ...
35035 2018-12-31 23:00:00        548916  1.329096e+08
35036 2018-12-31 23:15:00        548916  1.329096e+08
35037 2018-12-31 23:30:00        548916  1.329096e+08
35038 2018-12-31 23:45:00        548916  1.329096e+08
35039 2019-01-01 00:00:00        548916  1.329096e+08

       electricity.total.energy_consumption__baseline  \
0                                        6.380506e+07
1                                        6.390018e+07
2                                        6.321905e+07
3                                        6.284525e+07
4                                        7.654903e+07
...                                               ...
35035                                    4.860470e+07
35036                                    4.492682e+07
35037                                    4.448029e+07
35038                                    4.366228e+07
35039                                    4.309442e+07

       electricity.total.energy_consumption__savings
0                                       1.580180e+07
1                                       1.582915e+07
2                                       1.573407e+07
3                                       1.570954e+07
4                                       2.125177e+07
...                                              ...
35035                                   6.345504e+06
35036                                   6.328862e+06
35037                                   6.517640e+06
35038                                   6.637030e+06
35039                                   6.759883e+06

[35040 rows x 5 columns]

In [14]:
my_run.save_cache()

INFO:buildstock_query.query_core:No new queries to save.

In [15]:
my_run.savings.savings_shape(upgrade_id=2, enduses=['out.electricity.total.energy_consumption'],
                             group_by=['geometry_building_type_recs'],
                             restrict=[('in.state', ['VT'])],
                             annual_only=False)

WARNING:buildstock_query.query_core:Column in.geometry_building_type_recs found in multiple tables ['baseline', 'upgrade'].Using baseline
WARNING:buildstock_query.query_core:Column in.state found in multiple tables ['baseline', 'upgrade'].Using baseline

,timestamp,sample_count,units_count,electricity.total.energy_consumption__baseline,electricity.total.energy_consumption__savings,geometry_building_type_recs
0,2018-01-01 00:15:00,89,21549.660133,3332.933390,371.428974,Mobile Home
1,2018-01-01 00:30:00,89,21549.660133,3540.439668,363.438650,Mobile Home
2,2018-01-01 00:45:00,89,21549.660133,3993.708924,358.838161,Mobile Home
3,2018-01-01 01:00:00,89,21549.660133,3681.602049,355.690458,Mobile Home
4,2018-01-01 01:15:00,89,21549.660133,3638.744859,348.426527,Mobile Home
...,...,...,...,...,...,...
175195,2018-12-31 23:00:00,890,215496.601327,46724.747919,3171.432005,Single-Family Detached
175196,2018-12-31 23:15:00,890,215496.601327,40908.034600,2770.220917,Single-Family Detached
175197,2018-12-31 23:30:00,890,215496.601327,38722.802210,3117.436789,Single-Family Detached
175198,2018-12-31 23:45:00,890,215496.601327,37410.936383,3147.945296,Single-Family Detached
175199,2019-01-01 00:00:00,890,215496.601327,37973.406726,3140.681366,Single-Family Detached

In [16]:
result = my_run.savings.savings_shape(upgrade_id=2, enduses=['out.electricity.total.energy_consumption'],
                             group_by=['geometry_building_type_recs'],
                             restrict=[('in.state', ['VT'])],
                             get_quartiles=True,
                             annual_only=True,
                             get_query_only=False)
print(result)

WARNING:buildstock_query.query_core:Column in.geometry_building_type_recs found in multiple tables ['baseline', 'upgrade'].Using baseline
WARNING:buildstock_query.query_core:Column in.state found in multiple tables ['baseline', 'upgrade'].Using baseline

   sample_count    units_count  \
0            89   21549.660133
1           165   39951.617100
2           147   35593.258871
3            54   13075.074687
4           890  215496.601327

   electricity.total.energy_consumption__baseline  \
0                                    1.268281e+08
1                                    2.295646e+08
2                                    2.067916e+08
3                                    7.938956e+07
4                                    1.678065e+09

   electricity.total.energy_consumption__savings  \
0                                   2.677807e+06
1                                   2.316868e+07
2                                   1.868731e+07
3                                   6.101988e+06
4                                   1.047801e+08

  electricity.total.energy_consumption__savings__quartiles  \
0  [-5.861421400000836, 0.0, 31.944746630000054, ...
1  [-14.067411359999824, 0.0, 21.6221322755556, 9...
2  [-8.792132100000345, -4.1029949799999486, 8.92...
3  [-10.843629590000091, -2.0514974899988374, 9.6...
4  [-7.61984781999945, 0.0, 43.63570928003198, 24...

     geometry_building_type_recs
0                    Mobile Home
1  Multi-Family with 2 - 4 Units
2     Multi-Family with 5+ Units
3         Single-Family Attached
4         Single-Family Detached

In [17]:
my_run.save_cache()

INFO:buildstock_query.query_core:No new queries to save.