In [1]:
from buildstock_query import BuildStockQuery
import pandas as pd

In [2]:
# automatically reload the library if it changes
%load_ext autoreload
%autoreload 2

In [3]:
my_run = BuildStockQuery(db_name='euss-final',
                        table_name='euss_res_final_2018_550k_20220901',
                        workgroup='largeee',
                        buildstock_type='resstock')

INFO:buildstock_query.query_core:Loading euss_res_final_2018_550k_20220901 ...
INFO:botocore.tokens:Loading cached SSO token for nrel-sso
INFO:buildstock_query.query_core:13 queries cache read from None.
INFO:buildstock_query.query_core:13 queries cache is updated.
INFO:buildstock_query.main:Getting Success counts...
INFO:buildstock_query.report_query:Checking integrity with ts_tables ...
INFO:buildstock_query.query_core:No new queries to save.

         fail  unapplicable  success     Sum  Applied %  no-chng  bad-chng  \
upgrade
0        1084             0   548916  550000        0.0        0         0
1           1         17092   531823  548916       96.9     6097       949
10          0             0   548916  548916      100.0        1      5310
2           2         12117   536797  548916       97.8     6527       879
3           0           656   548260  548916       99.9      807     29954
4           0           656   548260  548916       99.9        4     20705
5         107         16653   532156  548916       97.0      819     47818
6           1          3584   545331  548916       99.3       31      2757
7           2        148335   400579  548916       73.0     4169      7603
8           3             0   548913  548916      100.0        2      6456
9           0             0   548916  548916      100.0        1      5443

         ok-chng  true-bad-chng  true-ok-chng  null     any  no-chng %  \
upgrade
0              0              0             0     0       0        0.0
1         524777            277        525480     0  531823        1.1
10        543605           3039        545876     0  548916        0.0
2         529391            354        529940     0  536797        1.2
3         517499          19686        527777     0  548260        0.1
4         527551          14086        534173     0  548260        0.0
5         483519          32460        498885     0  532156        0.2
6         542543           1980        543329     0  545331        0.0
7         388807           4177        392234     0  400579        1.0
8         542455           3494        545418     0  548913        0.0
9         543472           3102        545813     0  548916        0.0

         bad-chng %  ok-chng %  true-ok-chng %  true-bad-chng %
upgrade
0               0.0        0.0             0.0              0.0
1               0.2       98.7            98.8              0.1
10              1.0       99.0            99.4              0.6
2               0.2       98.6            98.7              0.1
3               5.5       94.4            96.3              3.6
4               3.8       96.2            97.4              2.6
5               9.0       90.9            93.7              6.1
6               0.5       99.5            99.6              0.4
7               1.9       97.1            97.9              1.0
8               1.2       98.8            99.4              0.6
9               1.0       99.0            99.4              0.6
Annual and timeseries tables are verified to have the same number of buildings.
All buildings are verified to have the same number of (35040) timeseries rows.

In [4]:
res_df = my_run.get_results_csv_full()
res_df

,job_id,started_at,completed_at,completed_status,apply_upgrade.applicable,apply_upgrade.upgrade_name,apply_upgrade.reference_scenario,build_existing_model.ahs_region,build_existing_model.applicable,build_existing_model.ashrae_iecc_climate_zone_2004,...,qoi_report.qoi_average_maximum_daily_use_overlap_kw,qoi_report.qoi_average_minimum_daily_use_cooling_kw,qoi_report.qoi_average_minimum_daily_use_heating_kw,qoi_report.qoi_average_minimum_daily_use_overlap_kw,qoi_report.qoi_average_of_top_ten_highest_peaks_timing_cooling_hour,qoi_report.qoi_average_of_top_ten_highest_peaks_timing_heating_hour,qoi_report.qoi_average_of_top_ten_highest_peaks_use_cooling_kw,qoi_report.qoi_average_of_top_ten_highest_peaks_use_heating_kw,qoi_report.qoi_peak_magnitude_timing_hour,qoi_report.qoi_peak_magnitude_use_kw
building_id,,,,,,,,,,,,,,,,,,,,,
126379,280,2022-09-01 23:17:38,2022-09-01 23:18:07,Success,None,None,,"CBSA Boston-Cambridge-Newton, MA-NH",True,5A,...,1.72,0.40,0.35,0.25,15.64,14.27,5.70,7.76,8561.0,9.70
494504,460,2022-09-01 23:29:41,2022-09-01 23:30:34,Success,None,None,,"CBSA Boston-Cambridge-Newton, MA-NH",True,5A,...,1.07,0.36,0.43,0.36,18.91,18.82,1.27,1.87,114.0,2.11
539777,384,2022-09-01 23:29:31,2022-09-01 23:30:00,Success,None,None,,"CBSA Atlanta-Sandy Springs-Roswell, GA",True,3A,...,3.79,1.05,0.61,0.56,13.00,14.91,15.74,17.03,5535.0,23.53
464849,464,2022-09-01 23:40:19,2022-09-01 23:41:20,Success,None,None,,Non-CBSA East South Central,True,3A,...,3.80,0.80,1.59,0.70,14.73,8.00,4.75,10.46,32.0,11.36
83789,370,2022-09-01 23:29:19,2022-09-01 23:30:29,Success,None,None,,Non-CBSA West North Central,True,7A,...,1.65,0.70,0.65,0.54,16.55,18.82,2.34,2.03,3449.0,2.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541636,345,2022-09-02 03:38:53,2022-09-02 03:39:24,Success,None,None,,Non-CBSA Middle Atlantic,True,5A,...,1.17,0.32,0.19,0.20,16.82,14.36,3.30,4.35,6176.0,6.13
306039,507,2022-09-02 04:42:54,2022-09-02 04:43:20,Success,None,None,,Non-CBSA East North Central,True,5A,...,1.15,0.21,0.31,0.21,14.18,15.18,2.77,4.13,8177.0,4.67
417922,272,2022-09-02 03:42:24,2022-09-02 03:43:27,Success,None,None,,Non-CBSA South Atlantic,True,4A,...,0.31,0.38,0.17,0.14,15.00,14.45,1.35,0.30,4431.0,1.39
481235,424,2022-09-02 03:51:43,2022-09-02 03:52:04,Success,None,None,,"CBSA Seattle-Tacoma-Bellevue, WA",True,4C,...,1.92,0.26,0.87,0.27,13.00,10.64,2.68,5.17,1169.0,6.03
451352,510,2022-09-02 04:38:50,2022-09-02 04:39:14,Success,None,None,,Non-CBSA Middle Atlantic,True,5A,...,2.97,0.43,5.37,0.46,14.09,7.64,4.12,18.81,104.0,22.86

In [5]:
res_df = my_run.get_results_csv(restrict=[('build_existing_model.state', ['CO'])], get_query_only=True)
res_df.head()

AttributeError: 'str' object has no attribute 'head'

In [6]:
res_df = my_run.get_results_csv(restrict=[('build_existing_model.state', ['CO'])], get_query_only=True)
res_df.head()

AttributeError: 'str' object has no attribute 'head'

In [7]:
bsdf = my_run.get_buildstock_df()
bsdf

,ahs region,applicable,ashrae iecc climate zone 2004,ashrae iecc climate zone 2004 2 a split,bathroom spot vent hour,bedrooms,building america climate zone,cec climate zone,ceiling fan,census division,...,vintage,vintage acs,water heater efficiency,water heater fuel,water heater in unit,weather file city,weather file latitude,weather file longitude,window areas,windows
building_id,,,,,,,,,,,,,,,,,,,,,
126379,"CBSA Boston-Cambridge-Newton, MA-NH",True,5A,5A,Hour4,2,Cold,None,None,New England,...,1970s,1960-79,Propane Standard,Propane,Yes,Manchester,42.93,-71.44,F12 B12 L12 R12,"Double, Low-E, Non-metal, Air, M-Gain"
494504,"CBSA Boston-Cambridge-Newton, MA-NH",True,5A,5A,Hour0,3,Cold,None,None,New England,...,1950s,1940-59,Natural Gas Standard,Natural Gas,Yes,Beverly Muni,42.58,-70.92,F6 B6 L6 R6,"Single, Clear, Non-metal"
539777,"CBSA Atlanta-Sandy Springs-Roswell, GA",True,3A,3A,Hour18,2,Mixed-Humid,None,Standard Efficiency,South Atlantic,...,1970s,1960-79,Electric Standard,Electricity,Yes,Newnan Coweta Co,33.31,-84.77,F15 B15 L15 R15,"Double, Clear, Metal, Air"
464849,Non-CBSA East South Central,True,3A,3A,Hour8,3,Hot-Humid,None,Standard Efficiency,East South Central,...,1980s,1980-99,Electric Standard,Electricity,Yes,Cairns Aaf,31.28,-85.71,F9 B9 L9 R9,"Double, Clear, Metal, Air"
83789,Non-CBSA West North Central,True,7A,7A,Hour6,3,Very Cold,None,Standard Efficiency,West North Central,...,1950s,1940-59,Natural Gas Standard,Natural Gas,Yes,Duluth Intl Airport,46.84,-92.19,F9 B9 L9 R9,"Single, Clear, Non-metal"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541636,Non-CBSA Middle Atlantic,True,5A,5A,Hour23,1,Cold,None,None,Middle Atlantic,...,<1940,<1940,Natural Gas Standard,Natural Gas,No,Oswego Co,43.35,-76.39,F6 B6 L6 R6,"Double, Clear, Non-metal, Air"
306039,Non-CBSA East North Central,True,5A,5A,Hour3,2,Cold,None,Standard Efficiency,East North Central,...,1970s,1960-79,Natural Gas Standard,Natural Gas,Yes,W K Kellogg,42.31,-85.25,F6 B6 L6 R6,"Double, Clear, Non-metal, Air"
417922,Non-CBSA South Atlantic,True,4A,4A,Hour1,1,Mixed-Humid,None,"Standard Efficiency, No usage",South Atlantic,...,1940s,1940-59,Natural Gas Standard,Natural Gas,Yes,Huntington Tri Stat,38.38,-82.56,F6 B6 L6 R6,"Single, Clear, Metal"
481235,"CBSA Seattle-Tacoma-Bellevue, WA",True,4C,4C,Hour4,3,Marine,None,None,Pacific,...,1990s,1980-99,Electric Standard,Electricity,Yes,Renton Muni,47.49,-122.21,F6 B6 L6 R6,"Single, Clear, Metal"
451352,Non-CBSA Middle Atlantic,True,5A,5A,Hour6,4,Cold,None,Standard Efficiency,Middle Atlantic,...,1960s,1960-79,Electric Standard,Electricity,Yes,Harrisburg Capital,40.22,-76.85,F9 B9 L9 R9,"Single, Clear, Metal, Exterior Clear Storm"

In [8]:
up1_csv = my_run.get_upgrades_csv_full(upgrade_id='2')
up1_csv

/Users/radhikar/Documents/buildstock_query/buildstock_query/main.py:456: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.insert(0, 'upgrade', upgrade_id)

,upgrade,job_id,started_at,completed_at,completed_status,apply_upgrade.applicable,apply_upgrade.upgrade_name,apply_upgrade.reference_scenario,simulation_output_report.applicable,report_simulation_output.add_timeseries_dst_column,...,qoi_report.qoi_average_maximum_daily_use_overlap_kw,qoi_report.qoi_average_minimum_daily_use_cooling_kw,qoi_report.qoi_average_minimum_daily_use_heating_kw,qoi_report.qoi_average_minimum_daily_use_overlap_kw,qoi_report.qoi_average_of_top_ten_highest_peaks_timing_cooling_hour,qoi_report.qoi_average_of_top_ten_highest_peaks_timing_heating_hour,qoi_report.qoi_average_of_top_ten_highest_peaks_use_cooling_kw,qoi_report.qoi_average_of_top_ten_highest_peaks_use_heating_kw,qoi_report.qoi_peak_magnitude_timing_hour,qoi_report.qoi_peak_magnitude_use_kw
building_id,,,,,,,,,,,,,,,,,,,,,
547402,2,37,2022-09-01 22:15:59,2022-09-01 22:17:13,Success,True,Enhanced enclosure,,None,True,...,1.94,0.32,0.46,0.27,10.36,13.27,4.93,5.23,7412.0,5.99
231652,2,153,2022-09-01 23:04:39,2022-09-01 23:06:53,Success,True,Enhanced enclosure,,None,True,...,1.20,0.95,0.11,0.14,15.00,8.64,4.29,1.75,4839.0,4.55
42486,2,330,2022-09-01 23:17:40,2022-09-01 23:18:24,Success,True,Enhanced enclosure,,None,True,...,7.13,1.69,1.69,1.59,20.18,15.45,11.86,8.11,6284.0,12.89
328419,2,287,2022-09-01 23:17:36,2022-09-01 23:18:20,Success,True,Enhanced enclosure,,None,True,...,2.28,0.47,0.50,0.38,17.00,15.36,5.70,7.25,1003.0,8.47
184799,2,566,2022-09-02 05:22:23,2022-09-02 05:23:25,Success,True,Enhanced enclosure,,None,True,...,2.80,0.43,0.48,0.35,13.00,14.82,18.21,19.32,4046.0,27.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282113,2,348,2022-09-02 03:39:12,2022-09-02 03:39:57,Success,True,Enhanced enclosure,,None,True,...,2.27,0.31,0.37,0.29,12.55,10.91,4.90,6.99,33.0,8.77
499057,2,448,2022-09-02 03:51:50,2022-09-02 03:52:33,Success,True,Enhanced enclosure,,None,True,...,3.23,0.87,1.12,0.57,17.18,10.73,4.79,7.36,54.0,8.45
446035,2,410,2022-09-02 03:53:15,2022-09-02 03:53:55,Success,True,Enhanced enclosure,,None,True,...,1.57,0.54,0.50,0.48,14.91,18.73,5.81,2.02,4480.0,6.83
506609,2,110,2022-09-02 03:29:10,2022-09-02 03:29:53,Success,True,Enhanced enclosure,,None,True,...,1.33,0.41,0.50,0.41,13.45,15.27,2.23,3.21,8275.0,3.64
149667,2,64,2022-09-02 02:54:34,2022-09-02 02:55:20,Success,True,Enhanced enclosure,,None,True,...,1.35,0.68,0.48,0.48,15.55,17.27,2.28,2.03,5225.0,2.56