In [1]:
from buildstock_query import BuildStockQuery
import pandas as pd

In [2]:
my_run = BuildStockQuery(db_name='euss-tests',
                        table_name='res_test_03_2018_10k_20220607',
                        workgroup='eulp',
                        buildstock_type='resstock')

INFO:buildstock_query.query_core:Loading res_test_03_2018_10k_20220607 ...
INFO:botocore.credentials:Found credentials in shared credentials file: ~/.aws/credentials
INFO:botocore.credentials:Found credentials in shared credentials file: ~/.aws/credentials
INFO:botocore.credentials:Found credentials in shared credentials file: ~/.aws/credentials
INFO:botocore.credentials:Found credentials in shared credentials file: ~/.aws/credentials
INFO:buildstock_query.query_core:84 queries cache read from res_test_03_2018_10k_20220607_query_cache.pkl.
INFO:buildstock_query.query_core:84 queries cache is updated.
INFO:buildstock_query.query_core:84 queries cache read from res_test_03_2018_10k_20220607_query_cache.pkl.
INFO:buildstock_query.query_core:Cache already upto date.
INFO:buildstock_query.main:Getting Success counts...
INFO:buildstock_query.report_query:Checking integrity with ts_tables ...

         Fail  Unapplicaple  Success      Sum  Applied %  no-chng  bad-chng  \
upgrade
0          11             0     9989  10000.0        0.0        0         0
1           0           223     9766   9989.0       97.8       48         6
2           0           155     9834   9989.0       98.4       54         7
3           0             6     9983   9989.0       99.9       12       235
4           0             6     9983   9989.0       99.9        0       169
5           0            53     9936   9989.0       99.5       12       742
6           0            55     9934   9989.0       99.4        0        34
7           0          2493     7496   9989.0       75.0       42        35
8           0             0     9989   9989.0      100.0        0        37
9           0             0     9989   9989.0      100.0        0        34
10          0             0     9989   9989.0      100.0        0        33

         ok-chng  true-bad-chng  true-ok-chng  null   any  no-chng %  \
upgrade
0              0              0             0     0     0        0.0
1           9712              3          9715     0  9766        0.5
2           9773              5          9775     0  9834        0.5
3           9736            179          9792     0  9983        0.1
4           9814            141          9842     0  9983        0.0
5           9182            431          9493     0  9936        0.1
6           9900             24          9910     0  9934        0.0
7           7419             19          7435     0  7496        0.6
8           9952             24          9965     0  9989        0.0
9           9955             22          9967     0  9989        0.0
10          9956             22          9967     0  9989        0.0

         bad-chng %  ok-chng %  true-ok-chng %  true-bad-chng %
upgrade
0               0.0        0.0             0.0              0.0
1               0.1       99.4            99.5              0.0
2               0.1       99.4            99.4              0.1
3               2.4       97.5            98.1              1.8
4               1.7       98.3            98.6              1.4
5               7.5       92.4            95.5              4.3
6               0.3       99.7            99.8              0.2
7               0.5       99.0            99.2              0.3
8               0.4       99.6            99.8              0.2
9               0.3       99.7            99.8              0.2
10              0.3       99.7            99.8              0.2
Annual and timeseries tables are verified to have the same number of buildings.
All buildings are verified to have the same number of (35040) timeseries rows.

INFO:buildstock_query.query_core:84 queries cache saved to res_test_03_2018_10k_20220607_query_cache.pkl

In [3]:
res_df = my_run.get_results_csv()

In [5]:
res_df = my_run.get_results_csv(restrict=[('build_existing_model.state', ['CO'])], get_query_only=False)
res_df

,job_id,started_at,completed_at,completed_status,apply_upgrade.applicable,apply_upgrade.upgrade_name,apply_upgrade.reference_scenario,build_existing_model.ahs_region,build_existing_model.applicable,build_existing_model.ashrae_iecc_climate_zone_2004,...,qoi_report.qoi_average_maximum_daily_use_overlap_kw,qoi_report.qoi_average_minimum_daily_use_cooling_kw,qoi_report.qoi_average_minimum_daily_use_heating_kw,qoi_report.qoi_average_minimum_daily_use_overlap_kw,qoi_report.qoi_average_of_top_ten_highest_peaks_timing_cooling_hour,qoi_report.qoi_average_of_top_ten_highest_peaks_timing_heating_hour,qoi_report.qoi_average_of_top_ten_highest_peaks_use_cooling_kw,qoi_report.qoi_average_of_top_ten_highest_peaks_use_heating_kw,qoi_report.qoi_peak_magnitude_timing_hour,qoi_report.qoi_peak_magnitude_use_kw
building_id,,,,,,,,,,,,,,,,,,,,,
5279,31,2022-06-08 04:32:57,2022-06-08 04:33:29,Success,<NA>,<NA>,NaN,Non-CBSA Mountain,True,5B,...,1.90,0.27,0.30,0.26,14.27,14.45,3.86,3.44,4769.0,4.60
3354,45,2022-06-08 04:33:25,2022-06-08 04:33:53,Success,<NA>,<NA>,NaN,Non-CBSA Mountain,True,5B,...,2.94,0.53,0.47,0.44,16.64,18.55,5.17,4.53,3834.0,5.60
4945,13,2022-06-08 04:33:20,2022-06-08 04:33:47,Success,<NA>,<NA>,NaN,Non-CBSA Mountain,True,5B,...,1.47,0.25,0.33,0.26,13.91,13.09,4.14,4.61,3784.0,5.47
8853,41,2022-06-08 04:33:35,2022-06-08 04:33:58,Success,<NA>,<NA>,NaN,Non-CBSA Mountain,True,5B,...,2.37,0.56,0.57,0.56,14.27,17.73,4.23,5.06,8609.0,5.37
477,48,2022-06-08 04:35:28,2022-06-08 04:35:53,Success,<NA>,<NA>,NaN,Non-CBSA Mountain,True,5B,...,2.18,0.33,0.40,0.33,14.27,18.55,5.12,6.40,8225.0,6.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2926,49,2022-06-08 05:21:51,2022-06-08 05:22:38,Success,<NA>,<NA>,NaN,Non-CBSA Mountain,True,7B,...,0.37,NaN,0.16,0.14,NaN,15.55,NaN,0.37,4887.0,0.60
4988,2,2022-06-08 05:19:01,2022-06-08 05:19:32,Success,<NA>,<NA>,NaN,Non-CBSA Mountain,True,5B,...,2.30,0.26,0.28,0.26,14.36,15.18,5.71,3.49,4570.0,6.26
3430,7,2022-06-08 05:19:45,2022-06-08 05:20:11,Success,<NA>,<NA>,NaN,Non-CBSA Mountain,True,5B,...,1.80,0.29,0.35,0.28,13.09,16.64,4.22,4.34,3850.0,5.09
8727,38,2022-06-08 05:22:43,2022-06-08 05:23:39,Success,<NA>,<NA>,NaN,Non-CBSA Mountain,True,7B,...,0.08,0.04,0.25,0.04,20.00,7.00,0.09,3.96,1231.0,4.70
722,36,2022-06-08 05:22:43,2022-06-08 05:23:21,Success,<NA>,<NA>,NaN,Non-CBSA Mountain,True,5B,...,1.30,0.40,0.40,0.40,14.91,17.09,1.63,2.19,8610.0,2.51

In [6]:
bsdf = my_run.get_buildstock_df()
bsdf

,ahs region,applicable,ashrae iecc climate zone 2004,ashrae iecc climate zone 2004 2 a split,bathroom spot vent hour,bedrooms,building america climate zone,cec climate zone,ceiling fan,census division,...,vintage,vintage acs,water heater efficiency,water heater fuel,water heater in unit,weather file city,weather file latitude,weather file longitude,window areas,windows
building_id,,,,,,,,,,,,,,,,,,,,,
4021,Non-CBSA West North Central,True,4A,4A,Hour13,4,Mixed-Humid,None,Standard Efficiency,West North Central,...,<1940,<1940,Natural Gas Standard,Natural Gas,Yes,Coffeyville Muni,37.09,-95.57,F12 B12 L12 R12,"Double, Clear, Non-metal, Air"
5017,Non-CBSA Middle Atlantic,True,5A,5A,Hour19,4,Cold,None,Standard Efficiency,Middle Atlantic,...,1950s,1940-59,Natural Gas Standard,Natural Gas,Yes,Allegheny Co,40.36,-79.92,F9 B9 L9 R9,"Single, Clear, Non-metal, Exterior Clear Storm"
679,Non-CBSA East North Central,True,5A,5A,Hour2,1,Cold,None,None,East North Central,...,<1940,<1940,Natural Gas Standard,Natural Gas,Yes,Columbus Port Colum,39.99,-82.88,F18 B18 L18 R18,"Single, Clear, Non-metal"
6995,Non-CBSA South Atlantic,True,4A,4A,Hour19,4,Mixed-Humid,None,Standard Efficiency,South Atlantic,...,1980s,1980-99,Electric Standard,Electricity,Yes,Baltimore Washingto,39.17,-76.68,F12 B12 L12 R12,"Double, Low-E, Non-metal, Air, M-Gain"
3486,Non-CBSA Mountain,True,5B,5B,Hour1,1,Cold,None,None,Mountain,...,1970s,1960-79,"Electric Heat Pump, 80 gal",Electricity,Yes,Reno Cannon Intl,39.48,-119.77,F12 B12 L12 R12,"Double, Clear, Metal, Air, Exterior Clear Storm"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4387,Non-CBSA Mountain,True,5B,5B,Hour2,1,Cold,None,Standard Efficiency,Mountain,...,1970s,1960-79,Electric Premium,Electricity,No,Denver Internationa,39.83,-104.66,F30 B30 L30 R30,"Double, Clear, Metal, Air"
6372,Non-CBSA South Atlantic,True,3A,3A,Hour18,3,Hot-Humid,None,Standard Efficiency,South Atlantic,...,1990s,1980-99,Electric Premium,Electricity,Yes,Wilmington,34.27,-77.9,F9 B9 L9 R9,"Single, Clear, Metal"
285,Non-CBSA Middle Atlantic,True,5A,5A,Hour2,3,Cold,None,None,Middle Atlantic,...,<1940,<1940,Natural Gas Standard,Natural Gas,Yes,Wilkes Barre Scrant,41.34,-75.73,F30 B30 L30 R30,"Single, Clear, Non-metal"
5307,"CBSA Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",True,4A,4A,Hour21,1,Mixed-Humid,None,None,Middle Atlantic,...,1980s,1980-99,Electric Standard,Electricity,Yes,Doylestown,40.33,-75.12,F12 B12 L12 R12,"Double, Low-E, Non-metal, Air, M-Gain"
1170,Non-CBSA Mountain,True,5B,5B,Hour6,3,Cold,None,Standard Efficiency,Mountain,...,1990s,1980-99,Natural Gas Standard,Natural Gas,Yes,Montrose Rgnl,38.51,-107.9,F6 B6 L6 R6,"Double, Low-E, Non-metal, Air, M-Gain"

In [7]:
up1_csv = my_run.get_upgrades_csv(upgrade=2)
up1_csv

,job_id,started_at,completed_at,completed_status,apply_upgrade.applicable,apply_upgrade.upgrade_name,apply_upgrade.reference_scenario,simulation_output_report.applicable,report_simulation_output.add_timeseries_dst_column,report_simulation_output.add_timeseries_utc_column,...,qoi_report.qoi_average_minimum_daily_use_cooling_kw,qoi_report.qoi_average_minimum_daily_use_heating_kw,qoi_report.qoi_average_minimum_daily_use_overlap_kw,qoi_report.qoi_average_of_top_ten_highest_peaks_timing_cooling_hour,qoi_report.qoi_average_of_top_ten_highest_peaks_timing_heating_hour,qoi_report.qoi_average_of_top_ten_highest_peaks_use_cooling_kw,qoi_report.qoi_average_of_top_ten_highest_peaks_use_heating_kw,qoi_report.qoi_peak_magnitude_timing_hour,qoi_report.qoi_peak_magnitude_use_kw,upgrade
building_id,,,,,,,,,,,,,,,,,,,,,
1215,32,2022-06-08 04:31:44,2022-06-08 04:32:52,Success,True,Enhanced Enclosure,NaN,None,True,True,...,0.70,0.72,0.68,12.27,11.27,5.05,5.06,4809.0,5.97,2
6445,13,2022-06-08 04:31:42,2022-06-08 04:32:48,Success,True,Enhanced Enclosure,NaN,None,True,True,...,0.46,0.30,0.30,16.55,16.73,14.66,5.38,3873.0,23.41,2
7393,27,2022-06-08 04:31:42,2022-06-08 04:33:04,Success,True,Enhanced Enclosure,NaN,None,True,True,...,0.47,0.30,0.25,15.09,13.73,3.65,1.55,4817.0,4.72,2
1544,24,2022-06-08 04:31:43,2022-06-08 04:32:48,Success,True,Enhanced Enclosure,NaN,None,True,True,...,0.42,0.30,0.31,13.27,14.00,5.34,6.16,1519.0,7.21,2
5852,19,2022-06-08 04:31:43,2022-06-08 04:32:54,Success,True,Enhanced Enclosure,NaN,None,True,True,...,0.91,1.31,0.27,14.91,8.09,3.87,5.11,415.0,6.22,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6269,12,2022-06-08 05:23:20,2022-06-08 05:24:33,Success,True,Enhanced Enclosure,NaN,None,True,True,...,0.30,0.07,0.10,17.18,2.00,1.14,4.15,146.0,5.36,2
276,14,2022-06-08 05:23:43,2022-06-08 05:24:20,Success,True,Enhanced Enclosure,NaN,None,True,True,...,0.61,0.37,0.33,12.55,8.45,6.36,8.83,8490.0,9.93,2
9762,29,2022-06-08 05:22:39,2022-06-08 05:23:30,Success,True,Enhanced Enclosure,NaN,None,True,True,...,0.83,0.45,0.49,14.64,15.27,5.35,4.25,3974.0,5.95,2
2151,18,2022-06-08 05:22:57,2022-06-08 05:23:57,Success,True,Enhanced Enclosure,NaN,None,True,True,...,1.34,1.01,0.63,14.64,9.82,7.33,6.10,6375.0,8.97,2
3544,48,2022-06-08 05:23:19,2022-06-08 05:24:04,Success,True,Enhanced Enclosure,NaN,None,True,True,...,0.58,0.73,0.25,14.82,9.45,6.19,7.38,310.0,9.12,2