In [1]:
from buildstock_query import BuildStockQuery

In [2]:
my_run = BuildStockQuery(db_name='buildstock_testing',
                        table_name='res_n550k_15min_v19',
                        workgroup='factsheets',
                        buildstock_type='resstock',
                        skip_reports=True)

INFO:buildstock_query.query_core:Loading res_n550k_15min_v19 ...
INFO:botocore.credentials:Found credentials in shared credentials file: ~/.aws/credentials
INFO:botocore.credentials:Found credentials in shared credentials file: ~/.aws/credentials
INFO:botocore.credentials:Found credentials in shared credentials file: ~/.aws/credentials
INFO:botocore.credentials:Found credentials in shared credentials file: ~/.aws/credentials

In [3]:
df = my_run.utility.calculate_tou_bill(
    rate_map=("weekday_cost.csv",
              "weekend_cost.csv"),
    group_by=["geometry_building_type_recs"],
    restrict=[(my_run.ts_bldgid_column, (1, 2, 3))],
    collapse_ts=False,
)
print(df)

INFO:buildstock_query.aggregate_query:Restricting query to Upgrade 0.

      geometry_building_type_recs       time  sample_count  units_count  \
0   Multi-Family with 2 - 4 Units 2007-01-01             1   242.131013
1   Multi-Family with 2 - 4 Units 2007-02-01             1   242.131013
2   Multi-Family with 2 - 4 Units 2007-03-01             1   242.131013
3   Multi-Family with 2 - 4 Units 2007-04-01             1   242.131013
4   Multi-Family with 2 - 4 Units 2007-05-01             1   242.131013
5   Multi-Family with 2 - 4 Units 2007-06-01             1   242.131013
6   Multi-Family with 2 - 4 Units 2007-07-01             1   242.131013
7   Multi-Family with 2 - 4 Units 2007-08-01             1   242.131013
8   Multi-Family with 2 - 4 Units 2007-09-01             1   242.131013
9   Multi-Family with 2 - 4 Units 2007-10-01             1   242.131013
10  Multi-Family with 2 - 4 Units 2007-11-01             1   242.131013
11  Multi-Family with 2 - 4 Units 2007-12-01             1   242.131013
12     Multi-Family with 5+ Units 2007-01-01             2   484.262025
13     Multi-Family with 5+ Units 2007-02-01             2   484.262025
14     Multi-Family with 5+ Units 2007-03-01             2   484.262025
15     Multi-Family with 5+ Units 2007-04-01             2   484.262025
16     Multi-Family with 5+ Units 2007-05-01             2   484.262025
17     Multi-Family with 5+ Units 2007-06-01             2   484.262025
18     Multi-Family with 5+ Units 2007-07-01             2   484.262025
19     Multi-Family with 5+ Units 2007-08-01             2   484.262025
20     Multi-Family with 5+ Units 2007-09-01             2   484.262025
21     Multi-Family with 5+ Units 2007-10-01             2   484.262025
22     Multi-Family with 5+ Units 2007-11-01             2   484.262025
23     Multi-Family with 5+ Units 2007-12-01             2   484.262025

    rows_per_sample  fuel_use__electricity__total__kwh__TOU__dollars
0              2976                                     15387.362905
1              2688                                     10698.067271
2              2976                                     12224.187568
3              2880                                      9366.349123
4              2976                                      9868.371458
5              2880                                      8919.910383
6              2976                                     11429.162494
7              2976                                     10690.246440
8              2880                                     10621.941281
9              2976                                     11029.147533
10             2880                                     11546.378117
11             2976                                     10655.120494
12             2976                                     18944.344964
13             2688                                     17109.832082
14             2976                                     19873.747907
15             2880                                     21258.088389
16             2976                                     29451.867235
17             2880                                     33582.339018
18             2976                                     39988.474283
19             2976                                     42375.314639
20             2880                                     35728.946669
21             2976                                     23188.695805
22             2880                                     18519.121743
23             2976                                     18678.567436

In [4]:
df = my_run.utility.calculate_tou_bill(
    rate_map=("weekday_cost.csv",
              "weekend_cost.csv"),
    group_by=["geometry_building_type_recs"],
    restrict=[(my_run.ts_bldgid_column, (1, 2, 3))],
    collapse_ts=True,
)
print(df)

INFO:buildstock_query.aggregate_query:Aggregation done accross timestamps. Result no longer a timeseries.
INFO:buildstock_query.aggregate_query:Restricting query to Upgrade 0.

     geometry_building_type_recs  sample_count  units_count  \
0  Multi-Family with 2 - 4 Units             1   242.131013
1     Multi-Family with 5+ Units             2   484.262025

   fuel_use__electricity__total__kwh__TOU__dollars
0                                    132436.245065
1                                    318699.340169

In [5]:
df = my_run.utility.calculate_tou_bill(
    meter_col='fuel_use__electricity__total__kwh',
    rate_map=("weekday_cost.csv",
              "weekend_cost.csv"),
    group_by=["geometry_building_type_recs"],
    restrict=[(my_run.ts_bldgid_column, (1, 2, 3))],
    collapse_ts=True,
)
print(df)

INFO:buildstock_query.aggregate_query:Aggregation done accross timestamps. Result no longer a timeseries.
INFO:buildstock_query.aggregate_query:Restricting query to Upgrade 0.

     geometry_building_type_recs  sample_count  units_count  \
0  Multi-Family with 2 - 4 Units             1   242.131013
1     Multi-Family with 5+ Units             2   484.262025

   fuel_use__electricity__total__kwh__TOU__dollars
0                                    132436.245065
1                                    318699.340169

In [3]:
df = my_run.utility.calculate_tou_bill(
    meter_col=['end_use__electricity__clothes_dryer__kwh','fuel_use__electricity__total__kwh'],
    rate_map=("weekday_cost.csv",
              "weekend_cost.csv"),
    group_by=["geometry_building_type_recs"],
    restrict=[(my_run.ts_bldgid_column, (1, 2, 3))],
    collapse_ts=True,
)
print(df)

INFO:buildstock_query.aggregate_query:Aggregation done accross timestamps. Result no longer a timeseries.
INFO:buildstock_query.aggregate_query:Restricting query to Upgrade 0.

     geometry_building_type_recs  sample_count  units_count  \
0  Multi-Family with 2 - 4 Units             1   242.131013
1     Multi-Family with 5+ Units             2   484.262025

   end_use__electricity__clothes_dryer__kwh__TOU__dollars  \
0                                       17091.657728
1                                       17449.009204

   fuel_use__electricity__total__kwh__TOU__dollars
0                                    132436.245065
1                                    318699.340169

In [5]:
my_run.save_cache()

INFO:buildstock_query.query_core:17 queries cache saved to res_n550k_15min_v19_query_cache.pkl